:root {
  --cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
  --mukta: 'Ek Mukta', sans-serif;
  --menuItems: 7;
}

.header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: var(--accent);
  /* background: rgba(#000, 0.8); */
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 100;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.burger-container {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s var(--cubic);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}

.bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #fff;
  transition: all 0.3s var(--cubic);
  transition-delay: 0s;
}

.bar.topBar {
  transform: translateY(0px) rotate(0deg);
}

.bar.btmBar {
  transform: translateY(6px) rotate(0deg);
}

.logo-wrapper {
  width: 100px;
  text-align: end;
  padding-right: 15px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;

  color: #ffffff;
}

.logo-span {
  color: #fec100;
}

.icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-bag {
  right: 0;
  top: 0;
  left: auto;
  transform: translateX(0px);
  transition: transform 0.5s var(--cubic);
  transition-delay: 0.65s;
}

ul.menu {
  position: relative;
  display: block;
  padding: 20px 48px 0;
  list-style: none;
  z-index: 100;
}

li.menu-item {
  border-bottom: 1px solid #333;
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s var(--cubic), opacity 0.6s var(--cubic);
}

a {
  display: block;
  position: relative;
  color: #fff;
  font-family: inherit;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}

.menu-opened {
  height: 100%;

  background-color: var(--accent);
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
}

.menu-opened .burger-container {
  transform: rotate(90deg);
}

.menu-opened #burger .bar.topBar {
  transform: translateY(4px) rotate(45deg);
}

.menu-opened #burger .bar.btmBar {
  transform: translateY(3px) rotate(-45deg);
}

.menu-opened ul.menu li.menu-item {
  transform: scale(1) translateY(0px);
  opacity: 1;
}

.menu-item:nth-child(1) {
  border-bottom: 1px solid var(--second-accent);
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.56s;
}

.menu-item:nth-child(2) {
  border-bottom: 1px solid var(--second-accent);
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.49s;
}

.menu-item:nth-child(3) {
  border-bottom: 1px solid var(--second-accent);
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.42s;
}

.menu-item:nth-child(4) {
  border-bottom: 1px solid var(--second-accent);
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.35s;
}

/* 28 */

/* 21 */

/* 14 */

.menu-opened .icon.icon-bag {
  transform: translateX(75px);
  transition-delay: 0.3s;
}
