@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: local('Manrope Regular'), local('Manrope-Regular'), url(../fonts/Manrope-Regular.ttf) format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: local('Manrope Medium'), local('Manrope-Medium'), url(../fonts/Manrope-Medium.ttf) format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: local('Manrope SemiBold'), local('Manrope-SemiBold'), url(../fonts/Manrope-SemiBold.ttf) format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: local('Manrope Bold'), local('Manrope-Bold'), url(../fonts/Manrope-Bold.ttf) format('woff2');
}
